# PLATFORM
# ========
# All exclusions that are specific to the NPM, GIT, IDE and Operating Systems.

# - Do not allow installed node modules to be committed. Doing `npm install -d` will bring them in root or other places.
node_modules
# Prevent unit test coverage reports from being added
.nyc_output
coverage
# - Do not allow IDE conf to be uploaded
.vscode
# - Mac OS files
.DS_Store
# - Do not allow package-lock.json to be uploaded
package-lock.json
